:root {
	--background-color:  #000;
	--foreground-color: #fff;
	--accent: 240 4.8% 95.9%;
	--accent-foreground: 240 5.9% 10%;
	--green: #03c03c;
	--orange: #ff9f00;
}

html, body {
	background-color: var(--background-color);
	max-width: 100vw;
	padding: 0;
	margin: 0;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body::-webkit-scrollbar, body::-webkit-scrollbar-button { 
	display: none; 
}

.main-directory-1::-webkit-scrollbar, .main-directory-1::-webkit-scrollbar-button {
	display: none;
}

* {
	color: var(--foreground-color);
}

@font-face {
	font-family: "dylan";
	src: url("fonts/dylan.ttf") format("truetype");
	font-style: normal;
}

a {
	text-decoration: none;
	color: white;
}

.form-section {
	max-width: 980px;
	margin: 0 auto;
	padding: 1.5rem 1.75rem;
	background-color: var(--background-color);
	border-radius: 15px;
	border: 1px solid rgba(255, 255, 255, 0.08);
}

.event-form {
	background-color: var(--background-color);
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	color: var(--foreground-color);
}

.flex {
	display: flex;
	align-items: center;
}
	.gap-1 {
		gap: 1rem;
	}
	.gap-2 {
		gap: 2rem;
	}
	.space-between {
		justify-content: space-between;
	}
	.small-button {
		min-width: 4.5em;
		width: auto;
		color: black;
		border: none;
		padding: 3px;
		font-size: 13px;
		height: 2.5em;
		cursor: pointer;
		font-weight: 600;
		
		background-color: greenyellow;
	}
	.big-button {
		color: black;
		border: none;
		width: 120px;
		padding: 10px;
		cursor: pointer;
		font-size: 13px;
		font-weight: 600;
		border-radius: 6px;
		background-color: yellow;
	}
	.current-dot {
		display: inline-flex;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: yellow;
	}
	.thin-border {
		border: 1px solid var(--card);
	}
	.padding-2 {
		padding: 2rem;
	}
	.pd-mini {
		padding: 0.5rem;
	}
	.mrgn-right {
		margin-right: 140px;
	}
	footer {
		margin-top: 50px;
	}
	.copyright {
		text-align: center;
	}


.search input[type=text] {
	gap: 100px;
  width: 100%;
  height: 33px;
  box-sizing: border-box;
  border: 1px solid #aaa;
  font-size: 16px;
  background-color: transparent;
  background-image: url('../icons/search.svg');
  background-position: 12px 8px;
  background-size: 1em;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;

}

.remove-btn {
  background: red;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}